body {
  background-color: dodgerblue;
  background-image: url(./back_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 1000px;
  background-attachment: fixed;
}
.wrapper {
  padding: 7px;
  margin: 30px;
  justify-content: space-between;
  display: flex;
}
.box {
  height: 330px;
  width: 290px;
  background: #5b6e8b;
}

.img {
  height: 229px;
  width: 250px;
  margin: 15px;
}
.box:hover {
  background-image: none;
  background-color: rgb(241, 16, 16);
  transition: 2s ease-in-out;
}
.box:hover .img {
  display: none;
}
.box:hover .text {
  padding: 100px;
  font-size: xx-large;
}
h2 {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: 5px;
  text-align: center;
  color: rgb(241, 174, 28);
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
